@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Mulish', sans-serif;
}

.parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 2px;
}

.rectangle { grid-area: 2 / 1 / 10 / 2;}
.opening1 { grid-area: 1 / 2 / 6 / 5; align-self: center}
.landing_image_1 { grid-area: 1 / 5 / 6 / 8; }
.landing_image_2 { grid-area: 6 / 2 / 11 / 5; }
.opening2 { grid-area: 6 / 5 / 11 / 8; }

.parent2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.card1 { grid-area: 2 / 3 / 7 / 5; }
.card2 { grid-area: 2 / 5 / 7 / 7; }
.card3 { grid-area: 7 / 3 / 12 / 5; }
.card4 { grid-area: 7 / 5 / 12 / 7; }
.right { grid-area: 2 / 8 / 12 / 12; }


.parent3 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 2px;
}

.opening3 { grid-area: 1 / 2 / 6 / 5; }
.landing_image_3 { grid-area: 1 / 5 / 6 / 8; }
.landing_image_4 { grid-area: 6 / 2 / 11 / 5; }
.opening4 { grid-area: 6 / 5 / 11 / 8; }

@media (max-width: 768px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .rectangle { grid-area: 1 / 1 / 8 / 3; }
    .opening1 { grid-area: 1 / 4 / 8 / 12; font-size: 12px }
    .landing_image_2 { grid-area: 8 / 2 / 13 / 12; }
    .opening2 { display: none; }
    .landing_image_1 { display: none; }

    .parent2{
        display: flex;
        flex-direction: column-reverse;
        padding: 10px;
    }

    .parent3{
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 20px;
    }

    .containerr{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

}

.scrollbar-w-2::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
    --bg-opacity: 1;
    background-color: #f7fafc;
    background-color: rgba(247, 250, 252, var(--bg-opacity));
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
    --bg-opacity: 1;
    background-color: #edf2f7;
    background-color: rgba(237, 242, 247, var(--bg-opacity));
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
}

/*@media screen and (min-width: 480px) {*/
/*    #leftsidebar {width: 200px; float: left;}*/
/*    #main {margin-left: 216px;}*/
/*}*/


