@tailwind base;
@tailwind components;
@tailwind utilities;

/*.parent {*/
/*    @apply grid grid-cols-[repeat(8,1fr)] grid-rows-[repeat(10,1fr)] gap-x-10 gap-y-[30px];*/
/*}*/
/*.rectangle {*/
/*    grid-area: 2 / 1 / 9 / 2;*/
/*}*/
/*.opening1 {*/
/*    grid-area: 1 / 2 / 6 / 6;*/
/*}*/
/*.landing_image_1 {*/
/*    grid-area: 1 / 6 / 6 / 9;*/
/*}*/
/*.landing_image_2 {*/
/*    grid-area: 6 / 2 / 11 / 6;*/
/*}*/
/*.opening2 {*/
/*    grid-area: 6 / 6 / 11 / 9;*/
/*}*/
body{
    font-family: 'Mulish', sans-serif;
}

.parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 2px;
}

.rectangle { grid-area: 2 / 1 / 10 / 2;}
.opening1 { grid-area: 1 / 2 / 6 / 5; align-self: center}
.landing_image_1 { grid-area: 1 / 5 / 6 / 8; }
.landing_image_2 { grid-area: 6 / 2 / 11 / 5; }
.opening2 { grid-area: 6 / 5 / 11 / 8; }

.parent2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.card1 { grid-area: 2 / 3 / 7 / 5; }
.card2 { grid-area: 2 / 5 / 7 / 7; }
.card3 { grid-area: 7 / 3 / 12 / 5; }
.card4 { grid-area: 7 / 5 / 12 / 7; }
.right { grid-area: 2 / 8 / 12 / 12; }


.parent3 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 2px;
}

.opening3 { grid-area: 1 / 2 / 6 / 5; }
.landing_image_3 { grid-area: 1 / 5 / 6 / 8; }
.landing_image_4 { grid-area: 6 / 2 / 11 / 5; }
.opening4 { grid-area: 6 / 5 / 11 / 8; }


